{% macro include_script(file, additional_tags="") %}
    <script src="{{ config.base_url | safe }}/{{ file | safe }}?{{ get_hash(path=file, base64=true) | truncate(length=6, end="")}}"{% if config.mode=="build" %} integrity="sha384-{{ get_hash(path=file, sha_type=384, base64=true) | safe }}"{% endif %} {{ additional_tags | safe }}></script>
{% endmacro %}

{% macro include_stylesheet(file) %}
    <link rel="stylesheet" href="{{ config.base_url | safe }}/{{ file | safe }}?{{ get_hash(path=file, base64=true) | truncate(length=6, end="")}}"{% if config.mode=="build" %} integrity="sha384-{{ get_hash(path=file, sha_type=384, base64=true) | safe }}"{% endif %}>
{% endmacro %}

{% macro social_links(i18n) %}
{% if config.extra.social.codeberg %}
<a href="{{ config.extra.social.codeberg }}" title="Codeberg" target="_blank">{{ icon::git(class="h-8 w-8") }}</a>
{% endif %}
{% if config.extra.social.github %}
<a href="{{ config.extra.social.github }}" title="Github" target="_blank">{{ icon::github(class="h-8 w-8") }}</a>
{% endif %}
{% if config.extra.social.gitlab %}
<a href="{{ config.extra.social.gitlab }}" title="Gitlab" target="_blank">{{ icon::gitlab(class="h-8 w-8") }}</a>
{% endif %}
{% if config.extra.social.stackoverflow %}
<a href="{{ config.extra.social.stackoverflow }}" title="Stack Overflow" target="_blank">{{ icon::stackoverflow(class="h-8 w-8") }}</a>
{% endif %}
{% if config.extra.social.mastodon %}
<a href="{{ config.extra.social.mastodon }}" title="Mastodon" target="_blank" rel="me">{{ icon::mastodon(class="h-8 w-8") }}</a>
{% endif %}
{% if config.extra.social.linkedin %}
<a href="{{ config.extra.social.linkedin }}" title="LinkedIn" target="_blank">{{ icon::linkedin(class="h-8 w-8") }}</a>
{% endif %}
{% if config.extra.social.instagram %}
<a href="{{ config.extra.social.instagram }}" title="Instagram" target="_blank">{{ icon::instagram(class="h-8 w-8") }}</a>
{% endif %}
{% if config.extra.social.youtube %}
<a href="{{ config.extra.social.youtube }}" title="Youtube" target="_blank">{{ icon::youtube(class="h-8 w-8") }}</a>
{% endif %}
{% if config.extra.social.signal %}
<a href="{{ config.extra.social.signal }}" title="Signal" target="_blank">{{ icon::signal(class="h-8 w-8") }}</a>
{% endif %}
{% if config.extra.social.telegram %}
<a href="{{ config.extra.social.telegram }}" title="Telegram" target="_blank">{{ icon::telegram(class="h-8 w-8") }}</a>
{% endif %}
{% if config.extra.social.email %}
<a href="mailto:{{ config.extra.social.email }}" title="{{ i18n.email }}" target="_blank">{{ icon::email(class="h-8 w-8") }}</a>
{% endif %}
{% if config.extra.social.phone %}
<a href="tel:{{ config.extra.social.phone }}" title="{{ i18n.phone }}" target="_blank">{{ icon::phone(class="h-8 w-8") }}</a>
{% endif %}
{% endmacro %}

{% macro cards(pages, i18n) %}
<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    {% for page in pages %}
    <div class="card card-border bg-base-200 grow basis-0 max-w-100">
        <div class="card-body grow">
            <a href="{{ page.permalink }}" class="no-underline">
                <h2 class="card-title">{{ page.title }}</h2>
            </a>
            <!-- Metadata (date and authors) -->
            <div class="flex flex-wrap space-x-6 pl-1 mb-2">
                {% if page.date %}
                <span class="flex items-center whitespace-nowrap">
                    {{ icon::calendar(class="") }}
                    <span><time datetime="{{ page.date }}">{{ page.date | date(format=i18n['language_date_format'],
                            locale=i18n['language_locale']) }}</time></span>
                </span>
                {% endif %}

                {% if page.authors %}
                <span class="flex items-center whitespace-nowrap">
                    {% if page.authors | length == 1 %}{{ icon::person() }}{% else %}{{ icon::people() }}{% endif %}
                    <span>{{ page.authors | join(sep=", ") }}</span>
                </span>
                {% endif %}
            </div>
            {% if page.summary %}{{ page.summary | safe }}{% else %}<p>{{ page.description }}</p>{% endif %}
            <div class="card-actions justify-end">
                <a href="{{ page.permalink }}" class="btn btn-primary">{{ i18n.read }}</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endmacro %}